.place__title {
    margin: 0;
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    color: #ffffff;
    text-align: left;
    grid-row-start: 1;
    grid-row-end: 2;
}
@media screen and (max-width: 1024px) {
    .place__title {
        flex-basis: 440px;
    }
}
@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 110%;
        flex-basis: 340px;
        }
}
@media screen and (max-width: 660px) {
    .place__title {
        flex-basis: 0;
    }
}
@media screen and (max-width: 320px) {
    .place__title {
        padding-left: 16px;
        padding-right: 16px;
        flex-basis: 100%;
        margin-right: 0;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
}