.header__lang {
    padding-top: 46px;
    padding-right: 48px;
}
@media screen and (max-width: 768px) {
    .header__lang {
        padding-right: 24px;
    }
}
@media screen and (max-width: 320px) {
    .header__lang {
        padding-right: 16px;
        padding-top: 30px;
    }
}