.lead__subtitle {
    margin: 0;
    text-align: center;
    padding-top: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    padding-bottom: 64px;
}