.cover__overlay {
    
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    max-height: 740px;
    z-index: 2;
    background: rgba(42, 44, 47, 0.3);
} 
   
.cover__overlay:hover {
    
    background: rgba(42, 44, 47, 0.8);
}
