.place {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(484px,1fr));
    padding-left: 148px;
    padding-right: 148px;
    max-width: 1280px;
    column-gap: 40px;
    row-gap: 48px;
}
@media screen and (max-width: 1024px) {
    .place {
        padding-left: 48px;
        padding-right: 48px;
        column-gap: 32px;
        grid-template-columns: repeat(auto-fill, minmax(42.96vw,1fr));
    }
}
@media screen and (max-width: 768px) {
    .place {
        padding-left: 24px;
        padding-right: 24px;
        column-gap: 28px;
        grid-template-columns: repeat(auto-fill, minmax(44.27vw,1fr)); 
      
    }
}

@media screen and (max-width: 540px) {
    .place {
        padding-left: 0;
        padding-right: 0;
        display: block;

    }
}