.place__website {
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (max-width: 540px) {
    .place__website {
        margin-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
        max-width: 100%;
    }
}